{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>  
    <div class="header">
        <a href="#">VOCABULARY</a>
        |
        <a href="#">WORKS</a>
        |       
         <a href="#">TEAM</a>
    </div>
    {% block content %} {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
