{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
</head>
<body>
    <div class="container">
        <div class="container1">
            <div class="container1">
                <div class="mss">
                    {% bootstrap_messages %}
                </div>
            </div>
            <div class="container1">
                <form action="{% url 'cadastro' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% bootstrap_form form %}
                    {% buttons %}
                        <div class="bc">
                            <button type="submit" id="bb" class="btn btn-secondary btn-lg">Cadastrar</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>