{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="#">VOCABULARY</a>
            |
            <a href="#">WORKS</a>
            |       
            <a href="#">TEAM</a>
        </div>
        <div class="works">
            <div class="title">
                TRANSLATE
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">WORD</th>
                            <th scope="col">TRANSLATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in palavras %}
                            <tr>
                                <td scope="row">{{ c.palavra }}</td>
                                <td scope="row">{{ c.traducao }}</td>
                            </tr>
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
            
            <div class="works">
                <div class="title">
                    WORKS
                </div>
                arquivo ppt
            </div>
            <div class="works">
                <div class="title">
                    time
                </div>
                jfsgfgsif
            </div>
    </div>
