{% load static %}
<div class="container">
    <div class="works">
        <div class="title">
            TEAM
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoBrayner.jpg' %}" class="card-img-top" alt="João Brayner">
        <div class="card-body">
          <h5 class="card-title">João Brayner</h5>
          <p class="card-text">DEV FULL STACK</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoDani.jpg' %}" class="card-img-top" alt="João Brayner">
        <div class="card-body">
          <h5 class="card-title">Daniela Lopes</h5>
          <p class="card-text">DEV BACKEND</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoSocorro.jpg' %}" class="card-img-top" alt="João Brayner">
        <div class="card-body">
          <h5 class="card-title">Socorro Barreto</h5>
          <p class="card-text">ENGENHEIRA DE DADOS</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoTassyto.jpg' %}" class="card-img-top" alt="João Brayner">
        <div class="card-body">
          <h5 class="card-title">Tassyto</h5>
          <p class="card-text">DESIGN</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoThiago.jpg' %}" class="card-img-top" alt="João Brayner">
        <div class="card-body">
          <h5 class="card-title">Thiago Mariano</h5>
          <p class="card-text">DEV FRONTEND</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoRicardo.jpg' %}" class="card-img-top" alt="João Brayner">
        <div class="card-body">
          <h5 class="card-title">Ricardo</h5>
          <p class="card-text">GESTOR DE PROJETOS</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/fotoMarcus.jpg' %}" class="card-img-top" alt="João Brayner" >
        <div class="card-body">
          <h5 class="card-title">Marcus</h5>
          <p class="card-text">QA</p>
        </div>
    </div>
   
</div>