*{
    margin: 0;
    padding: 0;
}
html, body{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #0f172a;
    color: #94a3b8;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bc{
    display: flex;
    justify-content: center;
}
.mss{
    display: flex;
    justify-content: center;
}
#bb{
    background-image: linear-gradient(to bottom,#64748b,#475569,#334155,#1e293b ,#0f172a ,#020617);
}