a{
    color: #94a3b8;
    text-decoration: none;
}
a:hover{
    color: #94a3b8;
    text-decoration: none;
}
body{
    margin: 10;
    padding: 0;
    color: #94a3b8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #121212, #1f1f1f, #263238, #6a4c9c);
    gap: 40px;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.container1 {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.container3 {
    display: flex;
    height: max-content;
    width: max-content;
    flex-wrap: nowrap;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
    top: 0;
    padding-border:2px
    font-size: large;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    gap: 300px;
}
.table{
    display: flex;
    width: 100%;
}
td, th{
    height: 100%;
    width: 300px;
    text-align: center;
    border: 1px ,solid ,#263238         ;
    background-color: #6a4c9c;
    color: #94a3b8;
}
.a1:hover{
    border-bottom: 5px solid rgba(255, 255, 255, 0.0);
}

.works{
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    display: flex;
    width: 100%;
    height: max-content;
    font-size:5vh;
    justify-content: center;
}
.title1{
    display: flex;
    width: max-content;
    font-size:5vh;
    justify-content: center;
}
.team{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.voca{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.palavra{
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: 100%;
}
.trad{
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: 100%;
}
.card{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background-color:#334155;
    color: #94a3b8;
}
.card-body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: -10px;
}
.card-title{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:start;
}
.card-text{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
}
.texto{
    text-align: justify;
    font-size:large;
}
.container5 {
    position: fixed;
    bottom: 40px;
    right: 40px;
}
#back{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 13px;
    border-color: none;
    background-color: #708090;
    color: #fff;
}