*{
    margin: 0;
    padding: 0;
}
a{
    color: #94a3b8;
    text-decoration: none;
}
a:hover{
    color: #94a3b8;
    text-decoration: none;
}
html, body{
    color: #94a3b8;
    background-image: linear-gradient(to bottom,#64748b,#475569,#334155,#1e293b ,#0f172a ,#020617);
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}
.header{
    display: flex;
    height: 8%;
    width:100%;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#334155,#475569,#64748b);
    
}
.table{
    display: flex;
    text-align: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
}

th, td {
    flex-wrap: nowrap;
    width: 300px;
    border: 1px ,solid ,#e2e8f0;
    background-image: linear-gradient(to bottom,#64748b,#475569,#334155,#1e293b ,#0f172a ,#020617);
    color: #94a3b8;
}
.works{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.title{
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 100px;
    justify-content: center;
}
.team{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.voca{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}
.palavra{
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: 100%;
    align-items: center;
}
.trad{
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: 100%;
    align-items: center;
}